@import "colors";

%nav-button {
  padding: 0.5rem 1.5rem;
  margin: 0rem 0.25rem;
  background-color: $lightPrimary;
  border: 2px solid $lightPrimary;
  border-radius: 0.75rem;

  &:hover {
    background-color: $white;
    border: 2px solid $primary;
    color: $primary;
  }

  a {
    text-decoration: none;
  }
}

.loginBtn {
  @extend %nav-button;
}

.signupBtn {
  @extend %nav-button;
}

.signoutBtn {
  @extend %nav-button;
}

@media screen and (max-width: 375px) {
  %nav-button {
    padding: 0.25rem 0.5rem;
    margin: 0rem 0.15rem;
    background-color: $lightPrimary;
    border: 2px solid $lightPrimary;
    border-radius: 0.75rem;
  }
}

.delete_btn {
  text-align: center;
  color: red;
  background-color: white;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid red;

  &:hover {
    color: white;
    background-color: red;
    border: 1px solid white;
  }
}

.edit_btn {
  text-align: center;
  color: $primary;
  background-color: white;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid $primary;

  &:hover {
    color: white;
    background-color: $primary;
    border: 1px solid white;
  }
}
