@import "colors";

/* .dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}

.dropdownBtn {
  display: inline;
  background-color: black;
  color: white;
  border: none;
  font-weight: 300;
  font-size: 1em;
  padding-top: 5px;
}
 */

.container {
  font-family: inherit;
  padding: 2rem;
}

.editor {
  border: 1px solid $lightGrey;
  cursor: text;
  min-height: 20rem;
  padding: 0rem;
}

//Content Viewer
.noContent {
  padding: 1rem;
}
