@import "colors";

.course_cards {
  margin-top: 4%;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: flex-start;
  align-items: baseline; */
}

//CourseCard
.card {
  /*  height: 350px; */
  margin-left: 4%;
  margin-bottom: 2%;
  padding: 2%;
  flex-basis: 40%;
  flex-shrink: 2;
  border-radius: 15px;
  border: 1px dotted $black;
  transition-duration: 2s;

  h2 {
    font-size: 2rem;
    margin-bottom: 2%;
  }

  &:hover {
    border: 2px solid $primary;
    transition-duration: 4s;
  }
}

//AddCourse

.add_course {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 4%;
  width: 92%;
  transition-duration: 3s;

  h3 {
    font-size: 2rem;
    color: $white;
    padding: 0.25rem 0;
    text-align: center;
    background-color: $primary;
    border-radius: 15px;
  }
}
.add_course_form {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 5%;
  transition-duration: 4s;

  input {
    flex-basis: 50%;
    padding: 0.5rem 0;
    margin: 0.5rem 0.5rem;
    border: none;
    outline: none;
    font-size: 1.2rem;

    &:focus {
      border-bottom: 2px solid $primary;
    }
  }

  select {
    flex-basis: 50%;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: $lightGrey;
  }

  button {
    margin-top: 1rem;
    align-self: center;
  }
}

.add_course_btn {
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: $primary;
  border-radius: 15px;
  width: 150px;
  padding: 5px 20px;
  border: none;
}

.card_access_img {
  height: 25px;
  width: 25px;
}
.card_access {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "Icon Text";
}

.card_access_img {
  grid-area: Icon;
}

.card_access_text {
  margin: 0px;
  grid-area: Text;
}

//Display courses

.coursesWrapper {
  display: flex;
  flex-flow: row wrap;

  .course {
    margin-left: 2%;
    flex-basis: 35%;
  }
}
