@import "colors";
//Course Page
.backToCourse {
  margin: 5px;
}

.courseDescript {
  /* height: 15vh; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;

  h1 {
    font-size: 2rem;
    border-bottom: 0.25rem solid $primary;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
  }
}

.courseDescript_btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.courseDescript_courseInfo {
  display: flex;
  flex-direction: column;
}

.courseDescript_description {
  margin-top: 1rem;
  width: 100%;

  h2 {
    border-bottom: 0.25rem solid $primary;
  }
}

//Course Lesson Plan

.coursePlan {
}
.lessonTitle {
  width: 100%;
  border: none;
  border-top: 0.25rem solid $lightPrimary;
  border-bottom: 0.25rem solid $lightPrimary;
  padding: 0.25rem 0;

  h2 {
    font-size: 2rem;
    margin: 0;
  }
}

.lessonList {
  font-size: 2rem;
  li {
    padding: 1rem;
  }
}

.lesson {
  display: flex;

  svg {
    margin-left: 1rem;
    color: red;
  }
}

.activeLesson {
  background-color: $lightPrimary;
}

.add_lesson {
  input {
    font-size: 2rem;
    border: none;

    &:hover,
    &:focus {
      border-bottom: 0.25rem solid $primary;
    }
  }

  button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: $primary;
  }
}

.editor {
  grid-area: editor;
  /* background-color: $lightGrey; */
  padding: 20px;
}

.comments {
  grid-area: comments;
}
/* 
@media screen and (min-width: 880px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: content-fit auto;
    gap: 0px 1px;
    grid-template-areas:
      "courseDescript courseDescript courseDescript courseDescript"
      "lessonPlan editor editor editor";
  }
} */
