@import "reset";
@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto&display=swap");

$ratio: 1, 618;

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

h1 {
  font-size: calc(2rem * #{$ratio});
  font-family: "Patua One", cursive;
}

h2 {
  font-size: calc(1.5rem * #{$ratio});
  font-family: "Patua One", cursive;
}

h3 {
  font-size: calc(1rem * #{$ratio});
  font-family: "Patua One", cursive;
}
