@import "colors";

%hero {
  position: relative;
  height: 20vh;
  background-image: linear-gradient($white, $primary);

  h1 {
    font-size: 2rem;
  }

  svg {
    z-index: 1;
    position: absolute;
    bottom: -30%;
    width: 100%;
    height: 30%;
    fill: $primary;
  }
}

.heroTriangleDown {
  @extend %hero;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTriangleLeft {
  @extend %hero;
}

.heroRectangle {
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
