@import "colors";

.bandOne {
  height: 40vh;
  min-height: 400px;
  margin: 0px;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $white;
}

.bandTwo {
  height: 40vh;
  min-height: 400px;
  margin: 0px;
  background-color: $lightPrimary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
