.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  height: 100vh;
  gap: 0px 0px;
  grid-template-areas:
    "Navbar"
    "Main"
    "Footer";
}

.Navbar {
  grid-area: Navbar;
}

.Main {
  grid-area: Main;
}

.Footer {
  grid-area: Footer;
}
