@import "colors";

.name {
  display: inline;
}

.firstWord,
.secondWord {
  padding: 0px;
  margin: 0px;
  font-size: 1.5rem;
}

.firstWord {
  color: $primary;
}

.secondWord {
  color: $black;
}

.firstWord::first-letter {
  font-weight: bolder;
  color: $white;
}

@media screen and (max-width: 375px) {
  .firstWord,
  .secondWord {
    font-size: 0.5rem;
  }
}
