.gridContainer {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "Logo Links Login";
}

.Logo {
  grid-area: Logo;
}

.Links {
  grid-area: Links;
}

.Login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "signup-btn login-btn";
  grid-area: Login;
}

.signupBtn {
  grid-area: signup-btn;
}

.loginBtn {
  grid-area: login-btn;
}
