.signupBtn a {
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 10% 20%;
  color: var(--white);
  background-color: var(--primary);
  width: 100%;
}

.signupBtn a:hover {
  color: var(--primary);
  background-color: var(--white);
  border: 2px solid var(--primary);
}
