@import "colors";

.mainContainer {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  min-width: fit-content;
  max-width: 400px;
  height: 60%;

  padding: 20px;
  border-radius: 15px;

  & .emailWrapper {
    display: flex;
    flex-direction: column;

    & input {
      margin: 20px 0px;
      padding: 5px;
      line-height: 2em;
      border: 1px solid $white;
      border-bottom: 1px solid $primary;
    }

    & input:hover,
    input:focus {
      border: 1px solid $primary;
    }

    & button {
      color: $white;
      font-size: 1em;
      margin: 10px auto;
      padding: 5px 15px;
      border-radius: 10px;
      background-color: $primary;
    }
  }

  p {
    text-align: center;
  }

  & .socialWrapper {
    display: flex;
    justify-content: center;

    button {
      padding: 5px 15px;
      border-radius: 10px;
      flex-basis: 50%;
      font-size: 2rem;
      background-color: $primary;
      color: $white;
    }
  }
}
